
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> {% block title %} Titulo Base {% endblock %}</title>
		
		
		<link rel="stylesheet" href="/media/bootstrap2/css/bootstrap.css">
		<script src="/media/bootstrap3/jquery.js"></script>
		<script src="/media/bootstrap2/js/bootstrap.js"></script>

		<!--link rel="stylesheet" href="/media/bootstrap2/css/bootstrap.min.css"-->
		<!--
		<script src="/media/bootstrap3/bootstrap.js"></script>
		<script src="/media/bootstrap3/bootstrap.min.js"></script>
		-->
 		
 		<!--
 		<script src="/media/bootstrap2/js/bootstrap.min.js"></script>
 		<script src="/media/bootstrap2/js/npm.js"></script>
		-->

		<style type="text/css">
		body{
			padding-top:50px;
			padding-bottom:40px;
			background: black;
		}
		.sidebar-nav{
			padding: 90px 0;
		}

	</style>

</head>
<body >
	<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  class="navbar-brand" href="/inicio/">HOME <li class="glyphicon glyphicon-home"></li></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	
	{% if activo %}
	{% if superUsuario or aministrador%}
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Empleados<span class="caret"></span></a>
          <ul class="dropdown-menu">

          	
            <li><a href="/crearAdministrador/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear</a></li>
            <li><a href="/modificarEmpleado/"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Modificar</a></li>
            <li><a href="/eliminarEmpleado/"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar</a></li>
            
            
            		

          </ul>
     	 </li>
      </ul>
	{% endif %}
	  <ul class="nav navbar-nav">
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Clientes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear vendedor</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Modificar vendedor</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar vendedor</a></li>
          </ul>
        </li>
	  	</ul>


	{% endif %}
	
      <ul class="nav navbar-nav navbar-right">


      	{% if activo %}

      	<li ><a href="#" style="color:blue">{{superUsuario}}{{aministrador}}{{vendedor}}: {{tipo }}{{ usuario}}<span class="sr-only">(current)</span></a></li>

      	<li><a href="/logout/">Cerrar sesion <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </a></li>

      	{% endif %}

      	{% if not activo %}
		
      	<li><a href="/login/" >Iniciar sesion <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </a></li>
		
      	{% endif %}
        
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>




<div  align="center" class="container">
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10">
	  <div>
			<img src="/media/imagenes/portada1.png" class="img-responsive" alt="Responsive image">
		</div>
	  <h1  align="center" style="color:white">
		<!--div class="panel panel-info"-->
			<marquee width="50%" height="60" align="bottom">
                 <div class="panel-heading">Desfrijolizadora S.A.</div>
            </marquee>
  			
  		<!--/div-->

	</h1>
	  	{% block contenido%}
		
	`	{% endblock %}
	  </div>
	  <div class="col-md-1"></div>
	</div>
</div>

</body>
</html>

