{% extends "base.html"%}
{% block title %} Inicio {% endblock %}

{% block contenido %}

<div class="panel panel-info">
  <!-- Default panel contents -->
  {% if modificar%}
  <div class="panel-heading">Modificar empleados</div>
  {% endif %}

	{% if eliminar%}
  <div class="panel-heading">Eliminar empleados</div>
  {% endif %}

  {% if mensaje %}

	<div class="alert alert-success alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong><span  class="glyphicon glyphicon-ok" aria-hidden="true"></span></strong> {{mensaje}}
	</div>

{% endif %}
  <table class="table">
   	<thead>
   		<tr>
   			<th>Nombre</th>
   			<th>DPI</th>
   			<th>Correo</th>
   			<th>Telefono</th>
   		</tr>
   	</thead>
	{% for empleado in empleados%}
	<tbody>
		<tr>
   			<td>{{empleado.nombre}}</td>
   			<td>{{empleado.dpi}}</td>
   			<td>{{empleado.correo}}</td>
   			<td>{{empleado.telefono}}</td>
   			
			{% if eliminar %}

			{%if empleado.dpi%}
				<td><a class="btn" href="/eliminarEmpleado/{{empleado.dpi}}/" enable="false"><span  class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar</a></td>	
			
   			{% endif %}

			{% if not empleado.dpi%}
				<td><a class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" enable="false"><span  class="glyphicon glyphicon-remove" aria-hidden="true" ></span> Eliminar</a></td>	
			{% endif %}

   			{% endif %}
		

   			{% if modificar %}

   			{% if empleado.dpi%}
				<td><a class="btn"  href="/modificarEmpleado/{{empleado.dpi}}/"  data-whatever="@mdo" enable="false"><span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modificar</a></td>	
   			{% endif %}

			{% if not empleado.dpi %}
				<td><a class="btn" href="/modificarEmpleado/{{empleado.nombre}}/" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" enable="false"><span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modificar</a></td>	
			{% endif %}

   			{% endif %}

   		</tr>
	</tbody>
	{% endfor %}
  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

			<div class="alert alert-warning alert-dismissible" role="alert">
			  {% if modificar %}
				<h4 class="modal-title" id="exampleModalLabel">No se Puede modificar el empleado por que on posee un dpi</h4>
			  {% endif %}

			  {% if eliminar %}
				<h4 class="modal-title" id="exampleModalLabel">No se Puede eliminar el empleado por que on posee un dpi</h4>
			  {% endif %}
			
			</div>      	
  </div>
</div>



<div class="modal fade" id="formModificarEmpleado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Modificar Empleado</h4>
      </div>
      <div class="modal-body">
        


<form class="form-horizontal" action="/crearAdministrador/" method="POST" >
{% csrf_token %} 
<fieldset>

<!-- Form Name -->

<!-- Text input-->
<div style="color:black">
<div class="form-group" >
  <label class="col-md-4 control-label" for="dpi">DPI{{modificar}}</label>  
  <div class="col-md-4">
  <input id="dpi" name="dpi" type="text" placeholder="" value="{{empleado.dpi}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombre">Nombre</label>  
  <div class="col-md-4">
  <input id="nombre" name="nombre" type="text" placeholder="" value="{{empleado.nombre}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="telefono">Telefono</label>  
  <div class="col-md-4">
  <input id="telefono" name="telefono" type="text" placeholder="" value="{{empleado.telefono}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="correo">Email</label>  
  <div class="col-md-4">
  <input id="correo" name="correo" type="email" placeholder="Email" value="{{empleado.correo}}" class="form-control input-md" required autofocus>
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="password" value="{{empleado.contrasena}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="direccion">Direccion</label>  
  <div class="col-md-4">
  <input id="direccion" name="direccion" type="text" placeholder="" value="{{empleado.direccion}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="tipo">Tipo</label>
  <div class="col-md-4">
    <select id="tipo" name="tipo" class="form-control">
      {% if superUsuario%}
      <option value="1">Administrador</option>
      {% endif%}
      {% if superUsuario or aministrador%}
      <option value="2">Vendedor</option>
      {% endif %}
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btnguardar"></label>
  <div class="col-md-4">
    <button id="btnguardar" type="submit" name="btnguardar" class="btn btn-info">Guardar <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
  </div>
</div>

</div>
</fieldset>
</form>


      </div>
    </div>
  </div>
</div>



{% endblock %}