
{% extends "base.html"%}
{% block title %} Login {% endblock %}

{% block contenido %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  

		<form class="form-signin" action="/login/" method="POST" >
		{% csrf_token %} 

		        <div class="form-group" >
		                <label for="inputEmail" class="control-label">Usuario</label>
		                <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="usuario" value="{{usuario}}" required autofocus>
		        </div>
		        <div class="form-group">
		                <label for="inputPassword" class="control-label">Password</label>
		                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="password" value="{{password}}" required>
		        </div>

		        <div class="form-group" align="center">
		                <button type="submit" class="btn btn-info btn-lg"  >Iniciar sesion <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>

		        </div>

		        {% if erroresLogin %}
		        <div align="center">
		            <ul >

		            {% for error in erroresLogin %}
		            <h5>
		            	<label for="inputPassword" class="control-label" style="color:red"> {{error}}</label>
		            <h5>	
		            {% endfor %}

		            </ul>
		        </div>
		        
		        {% endif %}

		</form>
	</div>
<div class="col-md-4"></div>
</div>	

<!--

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>
...more buttons...

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="/login/" method="POST" >
		{% csrf_token %} 

		        <div class="form-group" >
		                <label for="inputEmail" class="control-label">Usuario</label>
		                <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="usuario" value="{{usuario}}" required autofocus>
		        </div>
		        <div class="form-group">
		                <label for="inputPassword" class="control-label">Password</label>
		                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="password" value="{{password}}" required>
		        </div>

		        <div class="form-group" align="center">
		                <button type="submit" class="btn btn-info btn-lg"  >Iniciar sesion <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>

		        </div>

		        {% if erroresLogin %}
		        <div align="center">
		            <ul >

		            {% for error in erroresLogin %}
		            <h5>
		            	<label for="inputPassword" class="control-label" style="color:red"> {{error}}</label>
		            <h5>	
		            {% endfor %}

		            </ul>
		        </div>
		        
		        {% endif %}

		</form>
      </div>
    </div>
  </div>
</div>
-->

{% endblock %}>


