{% extends "base.html"%}
{% block title %} Registrar Empleado {% endblock %}

{% block contenido %}


<form class="form-horizontal" action="/crearAdministrador/" method="POST" >
{% csrf_token %} 
<fieldset>

<!-- Form Name -->
{% if not modificar %}
<legend><div style="color:white">Registrar Empleado</div></legend>
{% endif %}

{% if modificar %}
<legend><div style="color:white">Modificar Empleado</div></legend>
{% endif %}

{% if creado %}
<div class="form-group" >
	<label class="col-md-4 control-label" for="dpi"></label>  
  <div class="col-md-4">
	<div class="alert alert-success alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong><span  class="glyphicon glyphicon-ok" aria-hidden="true"></span></strong> Empleado agregado!
	</div>
  </div>
</div>
{% endif %}

<!-- Text input-->
<div style="color:white">
<div class="form-group" >
  <label class="col-md-4 control-label" for="dpi">DPI</label>  
  <div class="col-md-4">
  <input id="dpi" name="dpi" type="text" placeholder="" value="{{dpi}}{{empleado.dpi}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombre">Nombre</label>  
  <div class="col-md-4">
  <input id="nombre" name="nombre" type="text" placeholder="" value="{{nombre}}{{empleado.nombre}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="telefono">Telefono</label>  
  <div class="col-md-4">
  <input id="telefono" name="telefono" type="text" placeholder="" value="{{telefono}}{{empleado.telefono}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="correo">Email</label>  
  <div class="col-md-4">
  <input id="correo" name="correo" type="email" placeholder="Email" value="{{correo}}{{empleado.correo}}" class="form-control input-md" required autofocus>
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="password" value="{{contrasena}}{{empleado.contrasena}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="direccion">Direccion</label>  
  <div class="col-md-4">
  <input id="direccion" name="direccion" type="text" placeholder="" value="{{direccion}}{{empleado.telefono}}" class="form-control input-md" required>
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="tipo">Tipo</label>
  <div class="col-md-4">
    <select id="tipo" name="tipo" class="form-control">
      {% if superUsuario%}
      <option value="1">Administrador</option>
      {% endif%}
      {% if superUsuario or aministrador%}
      <option value="2">Vendedor</option>
      {% endif %}
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btnguardar"></label>
  <div class="col-md-4">
    <button id="btnguardar" type="submit" name="btnguardar" class="btn btn-info">Guardar <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
  </div>
</div>

{% if erroresCrear %}
{% for error in erroresCrear %}
<div style="color:red">
  <strong>{{error}}</strong>
</div>
{% endfor %}
{% endif %}

</div>
</fieldset>
</form>

{%endblock%}